@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --primary: #4158f2;
  --primary_hover: #243ef0;
  --secondary: #ffc122;
  --secondary_hover: #ffb805;
  --text: #555555;
  --accent: #000000;
  --lighter: #999999;
  --highlight: #f14141;
  --border: #e6e6e6;
  --background: #f5f5f5;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: var(--accent);
}
/* Top Section */

.top-section {
  background-color: var(--background);
  padding: 12.6px 30px;
}

.top-section h6 {
  font-size: 14px;
  font-weight: 500;
  color: var(--text);
}

.widget-action {
  padding: 0 15px 0 0;
}

.icon-list ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.icon-list ul li {
  display: inline-flex;
  align-items: center;
  margin-right: calc(23px / 2);
  margin-left: calc(23px / 2);
  position: relative;
}

.icon-list ul li:not(:last-child)::after {
  content: "";
  height: 16px;
  border-color: var(--border);
  right: calc(-23px / 2);
  width: auto;
  left: auto;
  position: relative;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left-width: 1px;
  border-style: solid;
}

.icon-list ul li a {
  font-size: 14px;
  font-weight: 500;
  color: var(--text);
}

.action-login {
  padding: 0 0 0 17px;
}

.action-login a {
  color: var(--text);
  font-weight: 800;
  font-size: 14px;
  line-height: 1.5714285714;
}

.action-login a span {
  color: var(--primary);
}

/* Logo Section */
.logo-section {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 20px 30px;
}
.navigation-header {
  position: relative;
  height: 100%;
  max-width: 190px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.navigation-button {
  display: flex;
  align-items: center;
  padding: 13px 16px;
  overflow: hidden;
  cursor: pointer;
}

.navigation-button .title-icon {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.navigation-button .title-icon span {
  background-color: var(--primary);
  display: inline-block;
  height: 2px;
  width: 16px;
  margin-bottom: 3px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.navigation-button .title-icon .icon-2 {
  width: 12px;
}
.navigation-button .title-icon .icon-3 {
  width: 8px;
}

.navigation-button .title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5714285714;
  font-weight: 800;
  color: var(--accent);
  transition: all 0.3s ease;
}
.navigation-header:hover .navigation-button {
  background-color: var(--primary);
}
.navigation-header:hover .navigation-button .title-icon span {
  background-color: var(--white);
}
.navigation-header:hover .navigation-button .title {
  color: var(--white);
}

.navigation-header .navigation-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 300px;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, 10px);
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding-bottom: 100px;
  background-color: var(--white);
  border: 1px solid var(--border);
}

.navigation-header .navigation-menu ul {
  position: relative;
  list-style: none;
  margin: 0;
  background-color: var(--white);
  padding-left: 0;
}

.navigation-header .navigation-menu ul li.has-mega-menu {
  position: static !important;
}

.navigation-header .navigation-menu .menu > li > a {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 25px;
  font-weight: 600;
  height: 50px;
  line-height: 1.4;
  border-bottom: 1px solid var(--border);
}
.navigation-header .navigation-menu .menu > li > a .menu-icon {
  width: 35px;
  margin-right: 10px;
}

.navigation-header .navigation-menu ul.menu > li.has-mega-menu > a::after {
  font-family: "Font Awesome 6 free";
  font-weight: 900;
  font-style: normal;
  line-height: 1;
  vertical-align: middle;
  content: "\f054";
  margin-left: auto;
  font-size: 10px;
  color: var(--light);
  font-variant: normal;
}

.navigation-header .navigation-menu ul.menu li.has-mega-menu .sub-menu {
  position: absolute;
  left: -9999em;
  z-index: -1;
  top: -1px;
  visibility: hidden;
  opacity: 0;
  list-style: none;
  margin: 0;
  background: var(--white);
  min-width: 990px;
  border: 1px solid var(--border);
  border-radius: 0;
  box-shadow: none;
}

.navigation-header
  .navigation-menu
  > ul.menu
  > li.has-mega-menu:hover
  > .sub-menu {
  opacity: 1;
  visibility: visible;
  left: 100%;
  z-index: 99;
}
.navigation-header:hover .navigation-menu {
  opacity: 1;
  visibility: visible;
  z-index: 99;
  transform: translate(-80%, 0);
}

.sub-menu .mega-menu-1 {
  background-color: #f9f9f9;
  background-image: url("/assets//image//vertical-bg01.jpg");
  background-position: bottom right;
  background-repeat: no-repeat;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 25px 30px 30px;
  height: 100%;
}

.sub-menu .mega-menu-item h6 {
  color: var(--accent);
  font-size: 14px;
  font-weight: 800;
  line-height: 30px;
}

.sub-menu .mega-menu-item ul {
  background-color: transparent;
}

.sub-menu .mega-menu-item ul li a {
  font-size: 14px;
  font-weight: 500;
  color: var(--lighter);
}
.sub-menu .mega-menu-item ul li a:hover {
  color: var(--primary);
}

.sub-menu .mega-menu-item .divider {
  margin: 30px 0px;
  border-color: var(--border);
}

.card-box {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px;
  background-color: var(--white);
  position: relative;
}

.card-box .card-background {
  background: url("/assets/image/vertical-menu1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transition: all 0.3s !important;
}

.card-box .card-content {
  min-height: 540px;
  text-align: left;
  padding: 60px 30px;
  position: relative;
  z-index: 99;
  justify-content: flex-start;
}

.card-box .card-content button {
  position: relative;
  color: var(--accent);
  background-color: var(--secondary);
  overflow: hidden;
  z-index: 2;
  display: inline-block;
  line-height: 1;
  font-size: 15px;
  padding: 12px 24px;
  border-radius: 3px;
  fill: var(--white);
  text-align: center;
  transition: all 0.3s;
  border: none;
  text-transform: uppercase;
}

.card-box .card-content button::before {
  content: "";
  background-color: var(--white);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
  top: 0;
  left: -100%;
  z-index: -1;
}

.card-box .card-content div span {
  text-transform: uppercase;
  font-style: 16px;
  color: var(--secondary);
}

.card-box .card-content button:hover::before {
  left: 0;
}

.card-box .card-content h3 {
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -2px;
  color: var(--highlight);
  text-transform: uppercase;
}
.card-box .card-content h3 span {
  color: var(--white);
}

.card-box .card-content p {
  font-style: 16px;
  color: var(--white);
}
.search-form {
  position: relative;
}

.search-form input {
  border-width: 1px;
  background: #f5f5f5;
  padding-left: 1.41575em;
  border: 2px solid var(--border);
  padding: 13px 55px 13px 20px;
  height: 48px;
  border-radius: 5px;
  color: var(--accent);
  width: 100%;
  line-height: 1;
}

.search-form button {
  width: 55px;
  height: 100%;
  position: absolute !important;
  right: 0;
  top: 0;
  z-index: 3;
  background: 0 0 !important;
  border: none;
  padding: 0;
  overflow: inherit !important;
}
.help_cart_sec .button-contact {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
}
.help_cart_sec .button-contact svg {
  font-size: 22px;
  margin-right: 10px;
  color: var(--accent);
}
.help_cart_sec .button-contact svg.arrow_down {
  font-size: 14px;
}
.help_cart_sec .button-contact span {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin-right: 7px;
  color: var(--text);
}
.help_cart_sec .content-contact {
  position: absolute;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  top: calc(100% + 40px);
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  padding: 30px;
  transition: all 0.3s ease;
  background-color: var(--white);
  border: 1px solid var(--border);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.07);
}
.help_cart_sec:hover .content-contact {
  visibility: visible;
  opacity: 1;
  top: calc(100% + 20px);
}
.help_cart_sec:hover .button-contact {
  background-color: #f5f5f5;
}
.help_cart_sec .content-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 18px;
  margin-bottom: 14px;
  border-bottom: 1px solid var(--border);
}
.help_cart_sec .content-header .image {
  width: 60px;
  margin-right: 10px;
}
.help_cart_sec .content-header img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.help_cart_sec .content-header .right {
  flex: 1;
}
.help_cart_sec .content-header .title {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 2px;
  color: var(--accent);
}
.help_cart_sec .content-header .sub {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 5px;
  color: var(--light);
}
.help_cart_sec .content-header .sub {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 5px;
  color: var(--light);
}

.help_cart_sec .content-footer .button-footer {
  display: block;
  text-align: center;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 10px;
  color: var(--accent);
  border: 1px solid var(--border);
  padding: 9px;
  text-transform: capitalize;
}
.help_cart_sec .content-footer .button-footer i {
  margin-right: 7px;
  font-size: 14px;
  color: var(--primary);
}
.help_cart_sec .content-footer .title {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: var(--light);
}
.help_cart_sec .content-footer .description {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: var(--text);
}
.help_cart_sec {
  position: relative;
  margin: 0 10px;
}

.cart_icons_and_other .header-group-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0;
}
.cart_icons_and_other .header-group-action > div:first-child {
  margin-left: 0;
}
.cart_icons_and_other .header-group-action > div {
  position: relative;
  margin-right: 12px;
  margin-left: 12px;
  text-align: center;
}
.site-header-wishlist .header-wishlist {
  position: relative;
  display: block;
}
.header-group-action .site-header-wishlist a svg {
  font-size: 21px;
  color: var(--accent);
}
.header-group-action .count {
  display: inline-block;
  position: absolute;
  line-height: 1;
  font-size: 10px;
  font-weight: 800;
  text-align: center;
  top: -3px;
  right: -8px;
  padding: 2px 5px;
  border-radius: 5px;
  letter-spacing: 0;
  color: var(--white);
  background-color: var(--highlight);
}
.cart_icons_and_other .header-group-action > div:last-child {
  margin-right: 0;
}
.cart_icons_and_other .site-header-cart .cart-contents {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .site-header-cart .cart-contents {
    display: inline-block;
    position: relative;
    text-indent: 0;
  }
}
.cart_icons_and_other .site-header-cart .cart-icon {
  margin-right: 15px;
}
.header-group-action .site-header-cart .cart-icon {
  display: inline-block;
  position: relative;
}
.cart_icons_and_other .site-header-cart .cart-text {
  display: block;
  text-align: left;
}
.cart_icons_and_other .site-header-cart .cart-text .title {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6666666667;
  color: var(--light);
}
.cart_icons_and_other .site-header-cart .cart-text .amount {
  display: block;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.4285714286;
  color: var(--accent);
}

.product-cat .product-cat-link {
  display: block;
}
.product-cat .category-product-img {
  margin-bottom: 14px;
}
.product-cat .category-product-img {
  display: block;
  overflow: hidden;
}
.product-cat .category-product-img img {
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-cat .cat-title {
  text-align: center;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  color: var(--accent);
}
.product-cat .cat-total {
  font-size: 12px;
  line-height: 1.6666666667;
  color: var(--light);
  text-align: center;
}
.product-cat .cat-total {
  font-size: 12px;
  line-height: 1.6666666667;
  color: var(--light);
}
.automobile_part_carousel .owl-nav .owl-prev,
.automobile_part_carousel .owl-nav .owl-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 0;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  outline: none;
  z-index: 9;
  padding: 0;
  font-size: 0;
  border: 1px solid var(--border) !important;
  border-radius: 50% !important;
  background-color: var(--white);
  width: 32px;
  height: 32px;
}
.automobile_part_carousel .owl-nav .owl-prev {
  left: 0%;
}
.automobile_part_carousel .owl-nav .owl-next {
  right: 0%;
}
.automobile_part_carousel .owl-nav button span {
  font-weight: 800;
}
.menu_section > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu_block_sec {
  width: 60%;
}
.currency_lang_block {
  width: 40%;
}
.main-navigation ul.menu > li.menu-item:first-child > a{
  padding-left: 0px;
}
.main-navigation ul.menu > li.menu-item > a {
  display: block;
  position: relative;
  padding: 1.3585em 1.1em;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
}
.main-navigation ul.menu li.menu-item .sub-menu .menu-item a {
  width: 100%;
  /* color: var(--primary); */
  display: block;
}
.main-navigation ul.menu li.menu-item .sub-menu .menu-item:hover > a {
  color: var(--primary);
}
.menu-title svg {
  margin-left: 15px;
}
.langueage_menu .langueage_menu ul.menu ul.sub-menu > li {
  min-width: max-content !important;
}

.headingligh_bg_img {
  padding: 40px;
  background: url("../image/h1-img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.headingligh_bg_img ul li {
  font-size: 15px;
}
.headingligh_bg_img ul li::marker {
  color: var(--secondary);
  font-size: 18px;
  /* background: ; */
}
.headingligh_bg_img a svg {
  color: var(--secondary);
  margin-left: 10px;
}

/* Menu */
.main-navigation ul li {
  position: relative;
  display: inline-block;
  text-align: left;
}
.main-navigation ul ul.sub-menu {
  float: left;
  position: absolute;
  top: calc(100% + 20px);
  z-index: 99999;
  left: 1.1em;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  pointer-events: none;
  background: #fff;
  padding-left: 0;
}
.main-navigation ul ul.sub-menu > li {
  display: block;
  min-width: 278px;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  top: 100%;
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.main-navigation ul.menu,
.main-navigation ul.nav-menu {
  max-height: none;
  overflow: visible;
  transition: none;
  padding-left: 0px;
}
.main-navigation ul.menu ul.sub-menu > li {
  min-width: 233px;
}
.langueage_menu ul.menu ul.sub-menu > li {
  min-width: max-content !important;
}

.main-navigation ul.menu ul.sub-menu li.menu-item a,
.main-navigation ul.nav-menu ul.sub-menu li.menu-item a {
  padding: 9px 20px 9px 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  border-bottom: 1px solid #e6e6e6;
}
.main-navigation ul.menu ul.sub-menu li.menu-item:hover > a {
  background-color: #f7f7f7;
}

/* Product */

.product-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transform: scale(1);
  position: relative;
  padding: 20px 20px 30px;
  background-color: var(--white);
  transition: all 0.3s ease;
  /* width: 200px; */
}
.product-image {
  width: 100%;
}
.product-image img {
  width: 100%;
}
.product-transition button {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 34px;
}
.product-transition button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 0;
  height: 36px;
  letter-spacing: 0;
  color: var(--accent);
  background-color: transparent;
  border: 0;
  outline: 0;
}
.product-transition button svg {
  font-size: 20px;
}
.product-image a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}
.product-caption {
  padding-top: 15px;
  position: relative;
}
.product-caption .price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 9px;
  color: var(--primary);
}
.product-caption h3 {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600;
  line-height: 1.5714285714;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-caption h3 a {
  color: var(--accent);
}
.product-caption .posted-in {
  font-size: 12px;
  line-height: 1.6666666667;
  margin-bottom: 5px;
  color: var(--light);
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-caption .posted-in a {
  color: var(--lighter);
}
.product-caption-bottom {
  order: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0 0;
  position: absolute;
  top: calc(100% - 10px);
  right: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  padding: 0 20px 20px;
  margin-top: -20px;
  background: var(--white);
}
.product-caption-bottom a[class*="product_type_"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.3333333333;
  font-weight: 800;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  padding: 10px 17px;
  color: var(--white);
  background-color: var(--primary);
  transition: all 0.3s ease;
}
.product-caption-bottom .right button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 0;
  height: 36px;
  letter-spacing: 0;
  color: var(--accent);
  background-color: transparent;
  margin: 0 7px;
  border: 0;
  right: 0;
}
.product-caption-bottom .right button svg {
  font-size: 20px;
}
.product-block:hover {
  transform: scale(1.05);
}
.product-block:hover .product-caption-bottom {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0s ease;
}
.lighting_carousel .owl-nav .owl-prev,
.lighting_carousel .owl-nav .owl-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  outline: none;
  z-index: 9;
  padding: 0;
  font-size: 0;
  border: 1px solid var(--border) !important;
  border-radius: 50% !important;
  background-color: var(--white);
  width: 32px;
  height: 32px;
}
.lighting_carousel .owl-nav .owl-prev {
  left: 0%;
}
.lighting_carousel .owl-nav .owl-next {
  right: 0%;
}
.lighting_carousel .owl-stage-outer {
  padding-bottom: 40px;
}

.lighting_headlight_section {
  background: #f5f5f5;
  padding: 40px 0;
}

.brackes_bg_img {
  background: url("../image/h1-img2.jpg");
}

.site_footer {
  background: #212121;
  padding: 40px 0;
}

.left_footer_sec article {
  font-size: 14px;
  color: var(--lighter);
  line-height: 22px;
}

.feedback_small_sec div {
  margin: 0 10px;
}
.feedback_small_sec div h6 {
  color: var(--secondary);
}
.feedback_small_sec div a {
  font-size: 14px;
  font-weight: 800;
  margin-top: 10px;
}
.feedback_small_sec div a svg {
  color: var(--secondary);
  margin-left: 10px;
}
.footer_col-border_ {
  border-right: 1px solid var(--border);
}
.footer_points_block p {
  color: var(--lighter);
  margin-bottom: 4px;
}
.footer_points_block p svg {
  color: var(--secondary);
  margin-right: 10px;
}
.footer_points_block span {
  color: var(--white);
  font-size: 19px;
  font-weight: 800;
}
.view_map_block a {
  font-size: 15px;
  line-height: 16px;
  fill: var(--white);
  color: var(--white);
  background-color: var(--primary);
  padding: 16px 25px;
}
.view_map_block a svg {
  font-size: 16px;
  margin-right: 10px;
}
.view_map_block a:before {
  content: "";
  background-color: var(--secondary);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
  top: 0;
  left: -100%;
  z-index: -1;
}
.view_map_block a:hover:before {
  left: 0;
}
.sm_icons_footer {
  display: flex;
}
.sm_icons_footer a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  color: var(--white);
  transition: 0.3s all;
}
.sm_icons_footer a svg {
  font-size: 16px;
}
.sm_icons_footer a:hover {
  background: var(--white);
  color: var(--primary_hover);
  transition: 0.3s all;
}
.footer_links_sec h2 {
  color: var(--white);
  font-size: 15px;
  font-weight: 700;
}
.footer_links_sec ul {
  list-style: none;
  padding-left: 0;
}
.footer_links_sec ul li a {
  font-size: 14px;
  text-transform: capitalize;
  line-height: 30px;
  color: var(--lighter);
}
.footer_links_sec ul li a:hover {
  color: var(--primary_hover);
}
.footer_bottom_border {
  border-bottom: 1px solid var(--border);
}
.footer_copyright_sec p {
  font-size: 14px;
  color: var(--lighter);
}
.footer_copyright_sec p a {
  color: var(--primary_hover);
}
.footer_payment_width {
  width: 50%;
}
.banner_slider_text {
  text-align: left;
}
.banner_slider_text span {
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.banner_slider_text h2 {
  text-transform: uppercase;
  font-size: 60px;
  color: var(--highlight);
  font-weight: 700;
  margin-bottom: 20px;
}
.banner_slider_text h4 {
  color: var(--white);
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.banner_slider_text a {
  padding: 12px 16px;
  color: var(--accent);
  font-size: 14px;
  background: var(--secondary);
  display: inline-block;
  margin-top: 10px;
  border-radius: 5px;
}

.banner_carousel .carousel-item img {
  height: 85vh;
  object-fit: cover;
}
.banner_carousel .carousel-item .carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
}

/* Card */
.background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
  overflow: hidden;
}

.background-wrapper .background-image {
  background: url("/assets/image/h1-banner1.jpg");
  width: calc(100% + 50px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.2s;
}
.background-wrapper .overlay {
  transition-duration: 0.3s;
  opacity: 0.5;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  left: 0;
}

.background-wrapper:hover .background-image {
  transform: translateX(-50px);
}

.main_card_content {
  min-height: 390px;
  padding: 60px;
  justify-content: flex-start;
}

.main_card_content p {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.75;
  text-transform: uppercase;
  color: var(--accent);
  position: relative;
  z-index: 1;
}

.main_card_content p span {
  color: var(--highlight);
}

.main_card_content h3 {
  font-weight: 800;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -2px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: inline-block;
}

.main_card_content h3 span {
  position: relative;
  overflow: hidden;
}

.main_card_content h3 > span::before,
.main_card_content h3 > span::after {
  content: "";
  background-color: var(--white);
  width: 100%;
  z-index: -1;
  position: absolute;
  transition: all 1s;
  height: 50%;
}
.main_card_content h3 > span::before {
  top: 0;
  transform: translateX(-120%);
}
.main_card_content h3 > span::after {
  bottom: 0;
  right: -141%;
}

.background-wrapper:hover ~ .main_card_content h3 > span::before {
  animation: 1s move-left-effects;
}
.background-wrapper:hover ~ .main_card_content h3 > span::after {
  animation: 1s move-right-effects;
}

.main_card_content > div {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent);
  position: relative;
  z-index: 1;
}

.primary-button {
  position: relative;
  color: var(--accent);
  background-color: var(--white);
  overflow: hidden;
  z-index: 2;
  margin-top: 52px;
  display: inline-block;
  line-height: 1;
  font-size: 15px;
  padding: 12px 24px;
  border-radius: 3px;
  fill: var(--white);
  text-align: center;
  transition: all 0.3s;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
  text-shadow: none;
  -webkit-appearance: none;
  border: none;
  text-transform: uppercase;
}

.primary-button::before {
  content: "";
  background-color: var(--primary);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
  top: 0;
  left: -100%;
  z-index: -1;
}
.primary-button:hover {
  color: var(--white);
}
.primary-button:hover::before {
  left: 0;
}

.main_card_content.landscape-box {
  min-height: 187px;
  padding: 40px 60px;
}

.main_card_content.landscape-box h3 {
  font-size: 30px;
}

.warranty-box .main_card_content {
  min-height: 290px;
  padding: 45px;
}
.warranty-box .main_card_content h3 {
  font-size: 30px;
}
.warranty-box .main_card_content button {
  display: block;
}

/* Best Seller */
.seller-wrapper {
  background-color: var(--white);
  background-image: url("/assets/image/h1-img6.jpg");
  background-position: 98% 5px;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: var(--border);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 35px 40px;
}

.seller-wrapper .seller-box {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.seller-wrapper .seller-box h3 {
  margin: 0 30px 0 0;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    transform 0.3s;
  color: var(--accent);
  font-size: 24px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 28px;
  letter-spacing: -1px;
}

.seller-wrapper .seller-box button {
  font-size: 14px;
  line-height: 1.715;
  font-weight: 800;
  text-rendering: optimizeLegibility;
  color: var(--text);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    transform 0.4s;
  text-transform: none;
  background-color: #02010100;
  padding: 0;
  border: none;
}
.seller-wrapper .seller-box button:hover {
  color: var(--secondary);
}

.best_seller .owl-nav .owl-prev,
.best_seller .owl-nav .owl-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  outline: none;
  z-index: 9;
  padding: 0;
  font-size: 0;
  border: 1px solid var(--border) !important;
  border-radius: 50% !important;
  background-color: var(--white);
  width: 32px;
  height: 32px;
}
.best_seller .owl-nav .owl-prev {
  left: -4%;
}
.best_seller .owl-nav .owl-next {
  right: 0%;
}
.best_seller .owl-stage-outer {
  padding-bottom: 40px;
}

.section-wrapper {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 0px;
}

.flex_product_block {
  width: 49%;
  pointer-events: none;
  border-bottom: 1px solid #e6e6e6;
}

.flex_product_block:nth-child(odd) {
  border-right: 1px solid #e6e6e6;
}
.flex_product_block .product-transition {
  width: 100%;
}

/* Testimonials */

.testimonial {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #e6e6e6;
  padding: 30px;
  position: relative;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: var(--border);
}
.testimonial .top {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.testimonial .top > p {
  color: var(--secondary);
  font-size: 80px;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: -4px;
  margin-right: 20px;
}

.testimonial .top .title h4 {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
  margin-bottom: 5px;
  color: var(--accent);
}
.testimonial .top .title p {
  display: block;
  font-size: 14px;
  line-height: 1.2857142857;
}

.testimonial .top .rating {
  margin: 5px 0 0;
  font-size: 11px;
  color: var(--secondary);
}

.testimonial .content {
  color: var(--accent);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 20px;
}

.customer_saying .owl-nav .owl-prev,
.customer_saying .owl-nav .owl-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  outline: none;
  z-index: 9;
  padding: 0;
  font-size: 0;
  border: 1px solid var(--border) !important;
  border-radius: 50% !important;
  background-color: var(--white);
  width: 32px;
  height: 32px;
}
.customer_saying .owl-nav .owl-prev {
  left: -4%;
}
.customer_saying .owl-nav .owl-next {
  right: -4%;
}
.customer_saying .owl-stage-outer {
  padding-bottom: 40px;
  border-bottom: 1px solid var(--border);
}

/* Feature */

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature .icon {
  margin-right: 15px;
  margin-left: 0;
  margin-bottom: unset;
}
.feature .icon svg {
  width: 50px;
  height: 50px;
  position: relative;
  display: block;
}
.feature .details .title {
  margin-bottom: 4px;
  font-size: 16px;
  clear: both;
  margin: 0 0 0.5407911001em;
  color: var(--accent);
  font-weight: 800;
}
.feature .details .description {
  color: var(--lighter);
}

.select_vehicle_block svg {
  color: var(--secondary);
  font-size: 26px;
  margin-right: 5px;
}
.select_vehicle_block span {
  font-size: 12px;
  font-weight: 700;
}

.select_to_sec > span {
  width: 98% !important;
}

.select_to_sec > span .select2-selection {
  height: 48px;
  display: flex;
  align-items: center;
}
.select_to_sec
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 11px;
}
.select_to_sec {
  display: flex;
  justify-content: center;
}

.select_btn_sec {
  height: 48px;
  background: #243ef0;
  padding: 10px 15px;
  border: 0;
  outline: 0;
  color: var(--white);
  border-radius: 5px;
  padding-left: 29px;
  padding-right: 29px;
}
